<%= decidim_modal id: "guest-meeting-cancellation-confirm-#{model.id}", class: "meeting__registration-modal" do %>
  <%= decidim_form_for(meeting, url: cancellation_url, method: :get) do |form| %>
    <div data-dialog-container>
      <%= icon "login-circle-line" %>
      <h2 id="dialog-title-meeting-cancellation-confirm-<%= model.id %>" data-dialog-title><%= t("leave_title", scope: "decidim.guest_meeting_registration.join_meeting_button.cancel_guest_confirm")  %></h2>
      <div>
        <p><%= t("leave_confirmation", scope: "decidim.guest_meeting_registration.join_meeting_button.cancel_guest_confirm") %></p>
      </div>
    </div>
    <div data-dialog-actions>
      <button type="button" class="button button__sm md:button__lg button__transparent-secondary" data-dialog-close="guest-meeting-cancellation-confirm-<%= model.id %>">
        <span><%= i18n_cancel_text %></span>
      </button>
      <button type="submit" class="button button__sm md:button__lg button__secondary">
        <span><%= i18n_confirm_text %></span>
        <%= icon "arrow-right-line" %>
      </button>
    </div>
  <% end %>
<% end %>
